.button {
  display: inline-block;
  width: 290px;
  height: 70px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 6px #da6a36ce;
  transition: background-color 0.2s linear;
}
@media only screen and (max-width: 679px) {
  .button {
    width: 160px;
    height: 50px;
    font-size: 14px;
  }
}

.services, .team, .skills, .portfolio {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 80px;
}
@media only screen and (max-width: 679px) {
  .services, .team, .skills, .portfolio {
    margin-top: 40px;
  }
}

.services__item, .team__item, .skills__item, .portfolio__item {
  flex-basis: 200px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .services__item, .team__item, .skills__item, .portfolio__item {
    flex-basis: 330px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 679px) {
  .services__item, .team__item, .skills__item, .portfolio__item {
    flex-basis: 500px;
    margin-bottom: 40px;
  }
}

.services__icon {
  max-width: 100%;
  height: 130px;
}

.team__position {
  font-size: inherit;
  color: #30bae7;
}

.services__title, .team__title, .skills__title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 30px;
}
@media only screen and (max-width: 679px) {
  .services__title, .team__title, .skills__title {
    padding-top: 15px;
    font-size: 21px;
  }
}

.services__text, .team__text {
  font-size: inherit;
}
@media only screen and (max-width: 679px) {
  .services__text, .team__text {
    padding: 0;
  }
}

.wraper__form .form__name, .wraper__form .form__email {
  display: inline-block;
  width: 414px;
  height: 56px;
  padding: 15px 25px;
  margin-bottom: 27px;
  border-radius: 4px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 16px;
  color: #fff;
  border: 1px solid #273a71;
  background-color: #273a71;
}
.wraper__form .form__name:hover, .wraper__form .form__email:hover, .wraper__form .form__name:focus-within, .wraper__form .form__email:focus-within {
  border: 2px solid #d1dcff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 679px) {
  .container {
    padding: 0 10px;
  }
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.button {
  background-color: #eb7d4b;
}
.button:hover {
  background-color: #e26125;
  cursor: pointer;
}
.button:active {
  box-shadow: 0 3px #f06626ce, 0 1px 6px rgba(0, 0, 0, 0.6);
  transform: translateY(4px);
}

.bgc__topaz {
  background-color: #17c2a4;
  box-shadow: 0 6px #108d76;
}
.bgc__topaz:hover {
  background-color: #3a9986;
  cursor: pointer;
}
.bgc__topaz:active {
  box-shadow: 0 3px #2c7466, 0 1px 6px rgba(0, 0, 0, 0.6);
  transform: translateY(4px);
}

.bgc__lightblue {
  background-color: #30bae7;
  box-shadow: 0 6px #258daf;
  margin-bottom: 25px;
}
.bgc__lightblue:hover {
  background-color: #40a1c2;
  cursor: pointer;
}
.bgc__lightblue:active {
  box-shadow: 0 3px #196e8a, 0 1px 6px rgba(0, 0, 0, 0.6);
  transform: translateY(4px);
}

.section {
  width: 100%;
  background-color: #87509c;
  padding: 90px 0;
}
@media only screen and (max-width: 679px) {
  .section {
    padding: 40px 0;
  }
}

.padding {
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
@media only screen and (max-width: 679px) {
  .header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 5px 5px;
    background-color: #87509c;
    overflow: hidden;
    z-index: 10;
  }
}

.logo {
  padding-left: 15px;
}

.mobile-menu__checkbox {
  display: none;
}

.menu__list {
  list-style: none;
  padding: 0;
  display: flex;
}
@media only screen and (max-width: 679px) {
  .menu__list {
    flex-direction: column;
    flex-basis: 62%;
  }
}
.menu__list > li {
  text-transform: uppercase;
}
.menu__list > li a {
  padding: 5px 15px;
  margin: 0 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}
@media only screen and (max-width: 679px) {
  .menu__list > li a {
    font-size: 21px;
  }
}
.menu__list > li a:hover, .menu__list > li a:active {
  background-color: #643a79;
  border-radius: 5px;
}
.menu__list:last-child {
  margin-right: 0;
}

.active__item {
  background-color: #643a79;
  border-radius: 5px;
}

.intro {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 145px;
}
@media only screen and (max-width: 679px) {
  .intro {
    padding-top: 80px;
  }
}

.h1 {
  font-size: 43px;
  margin: 54px 0;
  padding: 0 10px;
}
@media only screen and (max-width: 679px) {
  .h1 {
    font-size: 26px;
  }
}
.h1 span {
  display: block;
}
@media only screen and (max-width: 991px) {
  .h1 span {
    display: inline;
  }
}

.logo__mobile {
  display: none;
}
@media only screen and (max-width: 679px) {
  .logo__mobile {
    display: block;
    padding: 5px 0;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 679px) {
  .mobile-menu__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    overflow: hidden;
    background-color: #87509c;
    z-index: 999;
  }

  .mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
    z-index: 9999;
  }

  .mobile-menu__icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: .4s;
  }

  .mobile-menu__icon::after, .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: .3s;
  }

  .mobile-menu__icon::after {
    top: 8px;
  }

  .mobile-menu__icon::before {
    top: -8px;
  }

  .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
  }

  .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    height: 100%;
  }

  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
  }

  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
  }

  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.bg__services {
  background-color: #17c2a4;
}

.section__header {
  max-width: 645px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.section__title {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
@media only screen and (max-width: 679px) {
  .section__title {
    font-size: 28px;
    padding-top: 8px;
  }
}
.section__title::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  opacity: 15%;
  width: 87px;
  height: 4px;
  background-color: #000;
  transform: translate(-50%, -50%);
}

.section__subtitle {
  font-size: 18px;
}
@media only screen and (max-width: 679px) {
  .section__subtitle {
    font-size: 16px;
    padding-top: 8px;
  }
}
.section__subtitle > a {
  text-decoration: none;
  color: inherit;
}

.services__icon {
  filter: sepia(0);
  transition: transform 1s;
}
.services__icon:hover {
  filter: sepia(80%);
  transform: scale(1.2);
  cursor: pointer;
}

.bg__team {
  background-color: #e7f1f8;
  color: #3c4761;
}

.team__img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #878787;
  overflow: hidden;
}
.team__img > .icon {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  filter: sepia(0);
  transition: transform 1s;
}
.team__img > .icon:hover {
  filter: sepia(80%);
  transform: scale(1.2);
  cursor: pointer;
}
.team__title {
  margin-bottom: 0;
  padding: 0;
}
.team__position {
  margin-top: 0;
}
.team__social {
  width: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin: 0;
}
.team__social > .social__item {
  display: inline-block;
  margin-right: 12px;
  width: 32px;
  height: 32px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 50%;
  background-color: #bdd1df;
}
.team__social > .social__item:last-child {
  margin-right: 0;
}
.team__social > .social__item i {
  color: #fff;
  padding-top: 8px;
  transition: all 0.5s;
}
.team__social > .social__item:hover {
  transform: translateY(-5px);
  text-shadow: 1px 2px 3px #000;
}

.bg__skills {
  background-color: #fff;
  color: #3c4761;
}

@media only screen and (max-width: 991px) {
  .skills {
    justify-content: center;
  }
}
.skills__item {
  padding: 5px;
  transition: transform 0.4s;
}
.skills__item:hover {
  box-shadow: 1px 4px 10px 2px #3C4602;
  transform: translate(2px, -5px);
  cursor: pointer;
}
.skills__title {
  margin: 0;
}
.skills__img {
  display: block;
  max-width: 100%;
}
.skills .radialProgressBar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #dfe8ed;
  margin: 0 auto;
}
.skills .radialProgressBar .overlay {
  transform: translateY(15px);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  padding-top: 13%;
  font-size: 50px;
}
.skills .radialProgressBar .overlay__percent {
  font-size: 32px;
}
.skills .progress-90 {
  background-image: linear-gradient(54deg, #30bae7 50%, transparent 50%), linear-gradient(90deg, #dfe8ed 50%, #30bae7 50%);
}
.skills .progress-75 {
  background-image: linear-gradient(5deg, #d74680 50%, transparent 50%), linear-gradient(90deg, #dfe8ed 50%, #d74680 50%);
}
.skills .progress-70 {
  background-image: linear-gradient(-25deg, #15c7a8 50%, transparent 50%), linear-gradient(90deg, #dfe8ed 50%, #15c7a8 50%);
}
.skills .progress-85 {
  background-image: linear-gradient(35deg, #eb7d4b 50%, transparent 50%), linear-gradient(90deg, #dfe8ed 50%, #eb7d4b 50%);
}

.bg__portfolio {
  background-color: #ffdd99;
  color: #393939;
}

.tab {
  width: 100%;
  margin: 42px auto;
  text-align: center;
}
@media only screen and (max-width: 679px) {
  .tab {
    width: 100%;
  }
}
@media only screen and (max-width: 439px) {
  .tab {
    width: 73%;
  }
}
.tab__list {
  list-style: none;
  padding: 0;
}
.tab__item {
  display: inline-block;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-left: 10px;
  transition: all 0.5s;
}
@media only screen and (max-width: 679px) {
  .tab__item {
    width: 90px;
    margin: 5px;
  }
}
.tab__item > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #393939;
  font-size: 18px;
}
.tab__item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.tab__item:active {
  background-color: #fff;
}
.tab .active__item {
  background-color: #fff;
}
.tab .active__item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.tab .active__item:active {
  background-color: #fff;
}

.portfolio {
  margin-top: 62px;
}
.portfolio__item {
  flex-basis: 45%;
  margin-bottom: 62px;
  transition: all 0.7s;
}
.portfolio__item:hover {
  transform: scale(0.8);
  cursor: pointer;
}
@media only screen and (max-width: 679px) {
  .portfolio__item {
    flex-basis: 500px;
    margin-bottom: 40px;
  }
}
.portfolio__img {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 679px) {
  .portfolio__img {
    width: 250px;
    height: 150px;
  }
}
.portfolio__img > img {
  max-width: 100%;
}
.portfolio__title {
  text-transform: uppercase;
  font-size: 18px;
}

.row {
  margin: 20px 0;
  text-align: center;
}

.bg__reviews {
  background-color: #d74680;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 80px;
}
@media only screen and (max-width: 679px) {
  .reviews {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.reviews__item {
  flex-basis: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 150px;
  transition: all 0.3s;
}
@media only screen and (max-width: 991px) {
  .reviews__item {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
}
@media only screen and (max-width: 679px) {
  .reviews__item {
    flex-basis: 90%;
    margin-bottom: 50px;
  }
}
.reviews__item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(2px, -5px);
  cursor: pointer;
}
.reviews__item .wraper__img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: gray;
}
@media only screen and (max-width: 991px) {
  .reviews__item .wraper__img {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 679px) {
  .reviews__item .wraper__img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }
}
.reviews__item .wraper {
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
}
@media only screen and (max-width: 679px) {
  .reviews__item .wraper {
    padding-left: 0;
    flex-basis: 650px;
  }
}
.reviews__img {
  max-width: 100%;
  border-radius: 50%;
}
.reviews__title {
  order: 2;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.48px;
  margin-top: 28px;
  margin-bottom: 0;
}
@media only screen and (max-width: 679px) {
  .reviews__title {
    margin-top: 10px;
  }
}
.reviews__position {
  order: 3;
  margin: 0;
  color: #ffdd99;
  font-size: 18px;
}
.reviews__text {
  order: 1;
  font-family: 'Titillium Web', sans-serif;
  font-size: 21px;
  font-style: italic;
}

.bg__form {
  background-color: #3c5499;
}

.width__section {
  max-width: 790px;
}

.wraper__form {
  max-width: 865px;
  margin: 0 auto;
  margin-top: 76px;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .wraper__form {
    width: 80%;
  }
}
@media only screen and (max-width: 679px) {
  .wraper__form {
    width: 90%;
    margin-top: 36px;
  }
}
.wraper__form .wraper__input {
  width: 100%;
  overflow: auto;
}
.wraper__form .wraper__input ::-webkit-input-placeholder {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 16px;
  opacity: 1;
}
.wraper__form .wraper__input ::-moz-placeholder {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 16px;
  opacity: 1;
}
.wraper__form .wraper__input :-moz-placeholder {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 16px;
  opacity: 1;
}
.wraper__form .wraper__input :-ms-input-placeholder {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 16px;
  opacity: 1;
}
.wraper__form textarea::placeholder {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 16px;
  opacity: 1;
}
.wraper__form .form__name {
  margin-right: 32px;
}
@media only screen and (max-width: 991px) {
  .wraper__form .form__name {
    margin-right: 0;
  }
}
@media only screen and (max-width: 679px) {
  .wraper__form .form__name {
    margin-right: 0;
    height: 25px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 679px) {
  .wraper__form .form__email {
    margin-right: 0;
    height: 25px;
  }
}
.wraper__form .form__message {
  width: 100%;
  height: 200px;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  opacity: 1;
  font-size: 16px;
  border-radius: 4px;
  padding: 15px 25px;
  border: 1px solid #273a71;
  background-color: #273a71;
  color: #ffffff;
  overflow: auto;
  margin-bottom: 58px;
}
@media only screen and (max-width: 991px) {
  .wraper__form .form__message {
    width: 75%;
  }
}
@media only screen and (max-width: 679px) {
  .wraper__form .form__message {
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
  }
}
.wraper__form .form__message:hover, .wraper__form .form__message:focus-within {
  border: 2px solid #d1dcff;
  outline: none;
}

.footer {
  width: 100%;
  background-color: #344b8e;
  font-size: 24px;
  padding: 45px 0;
}
@media only screen and (max-width: 679px) {
  .footer {
    padding: 25px 0;
    font-size: 16px;
  }
}
.footer .social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.footer .social__item {
  display: inline-block;
  padding: 5px 30px;
}
@media only screen and (max-width: 679px) {
  .footer .social__item {
    padding: 5px 15px;
  }
}
.footer .social__item > a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}
.footer .social__item > a:hover, .footer .social__item > a:visited {
  color: #30bae7;
}

/*# sourceMappingURL=style.css.map */
