.bg__reviews{
    background-color: $rose-color;
}
  
  .reviews{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-evenly;
      margin-top: 80px;

      @include mq('phone'){
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      &__item{
          flex-basis: 45%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin-bottom: 150px;
          transition: all 0.3s;
         
          @include mq('tablet'){
            justify-content: center;
            align-items: flex-start;
            text-align: center;
          }

          @include mq('phone'){
            flex-basis: 90%;
            margin-bottom: 50px;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.20);
            transform: translate(2px,-5px);
            cursor: pointer;
        }

        .wraper__img{
            width: 96px;
            height: 96px;
            border-radius: 50%;
            background-color: gray;

            @include mq('tablet'){
              margin-bottom: 15px;
            }

            @include mq('phone'){
              width: 150px;
              height: 150px;
              margin-bottom: 15px;
            }  
        }
        .wraper{
              display: flex;
              flex-direction: column;
              flex-basis: 350px;
              
              @include mq('phone'){
                padding-left: 0;
                flex-basis: 650px;
            }
        }
      }

      &__img{
          max-width: 100%;
          border-radius: 50%;
      }
      &__title{
          order: 2;
          font-size: $primary-size+8;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 0.48px;
          margin-top: 28px;
          margin-bottom: 0;

          @include mq('phone'){
            margin-top: 10px;
        }
      }
      &__position{
          order: 3;
          margin: 0;
          color: #ffdd99;
          font-size: $primary-size+2;
      }
      &__text{
          order:1;
          font-family: 'Titillium Web', sans-serif;
          font-size: $primary-size+5;
          font-style: italic;
      }
  }
  